
.registration {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  align-items: flex-start;
  font-size: 1.6vh;
  padding-bottom: 5vh;
}

.noBacktoLogin,
.backtoLogin {
  padding: 0.5vh 0;
  height: 5%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  font-size: 2vh;
}

.noBacktoLogin {
  padding: 5%+0.5vh 0;
}

.backBtn {
  padding-top: 0.25vh;
  padding-left: 0.5vh;
  color: #cdc4f2;
  font-size: 2.5vh;
  font-weight: bolder;
  justify-content: space-around;
  align-items: center;
}

.backWord {
  padding-top: 1vh;
  padding-left: 1vh;
}





.LogOut {
  padding: 0.5vh 0;
  height: 5%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  font-size: 2vh;
  /* align-items: right; */
}

.logOutWord {
  padding-top: 1vh;
  padding-right: 1vh;
}




.updateContainer,
.registrationContainer {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
}

.updateContainer {
  padding-top: 15.5vh;
}

.registrationInput {
  padding: 22px 20px;
  margin: 0 0 5vh 0;
  border: 3px solid #cdc4f2;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.6vh;
}

.registrationBtn {
  background-color: #cdc4f2;
  color: white;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 70%;
  height: 100px;
  border-radius: 15px;
  font-size: 2vh;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}