
.registration {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  align-items: flex-start;
  font-size: max(1.6vh, 20px);
  padding-bottom: 5vh;
}

.logOut,
.noBacktoLogin,
.backtoLogin {
  padding: 0.5vh 0;
  height: 5%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  font-size: max(2vh, 25px);
}

/* .noBacktoLogin {
  padding: 5%+0.5vh 0;
} */

.backBtn {
  padding-top: 0.25vh;
  padding-left: 0.5vh;
  color: #cdc4f2;
  font-size: max(2.5vh, 30px);
  font-weight: bolder;
  justify-content: space-around;
  align-items: center;
}

.backWord {
  padding-top: 1vh;
  padding-left: 1vh;
  opacity: 0.7;
}

.logOut {
  padding-left: 35vh;
  padding-top: max(8vh, 50px);
}

.logOutWord {
  padding-top: 1vh;
  padding-right: 1vh;
  opacity: 0.7;
}

.updateContainer,
.registrationContainer {
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
}

.updateContainer {
  padding-top: 5vh;
}

.registrationInput {
  padding: 22px 20px;
  margin: 0 0 5vh 0;
  border: 3px solid #cdc4f2;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: max(1.6vh, 20px);
}

.registrationBtn {
  background-color: #cdc4f2;
  color: white;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 70%;
  height: 100px;
  border-radius: 15px;
  font-size: max(2vh, 25px);
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

.logOutWord:hover,
.backWord:hover {
  opacity: 1;
}

.header {
  position: flex;
  font-size: max(2vh, 25px);
}