#search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
}

#reservation-options-container {
  display: flex;
  justify-content: space-around;
}

.reservation-options-element {
  display: inline-block;
}

.react-datepicker__input-container input{
  border: 3px solid #cdc4f2;
  border-radius: 8px;
}

#search-button-container {
  display: flex;
  justify-content: center;
}