.spot {
  display: grid;
  grid-template-columns: 2.5fr 2fr 1fr;
  max-width: 1200px;
  max-height: 400px;
  width: 76vw;
  height: 20vh;
  border-radius: 2%;
  box-shadow: 0 4px 10px 0 #707070;
  margin-top: 1vh;
  margin-left: 2.5vh;
  font-size: 2vh;
}

.spot-photo {
  justify-self: stretch;
  margin: 0.5vh;
  width: 30vw;
  /* border: 1px solid blue; */
  border-radius: 5%;
  height: 18vh;
}

.spot-info {
  align-self: center;
  margin: 0.7vh;
  /* border: 1px solid blue; */
  color: #707070;
}

.spot-arrow {
  justify-self: start;
  align-self: center;
  margin: 1vh;
  cursor: pointer;
  /* border: 1px solid blue; */
}

.spot-info p {
  margin: 2px;
}

.spot-info .rate {
  font-size: 1.2vh;
  font-weight: bolder;
}

.spot-photo img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  background-size: contain;
}