.page-header {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 5%;
  min-height: 45px;
  background: rgb(255, 255, 255, 0.8);
  padding: 3px 0;
  text-align: center;
  font-family: 'Helvetica';
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 10px 0 #707070;
}

.page-header-hr {
  height: 5px;
  border: 0;
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.header {
  font-size: max(2vh, 20px);
}
