.my-bookings-header {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 40px 460px;
  align-items: center;
  box-shadow: 0 1px 10px 0 #707070;
}

.my-bookings-header .back {
  color: #cdc4f2;
  font-size: xx-large;
  font-weight: bolder;
  cursor: pointer;
}

.my-bookings-header .heading {
  justify-self: center;
  font-weight: bold;
}