.login-container {
  margin: auto;
  padding-top: 5vh;
  height: 50vh;
  width: 100%;
  max-width: 700px;
  align-items: center;
}

.login-box {
  width: 100%;
  margin:0;
  text-align: center;
}

.login-input {
  width: 70%;
  margin-bottom: 3vh;
  padding: 20px;
  border-radius: 8px;
  border: none;
  font-size: 1.8vh;
}

.login-Btn {
  width: 50%;
  margin-top: 6vh;
  border-radius: 15px;
  border: none;
  color: #a694ec;
  padding: 20px;
  font-weight: bold;
  font-size: 2vh;
}

.login-Btn,
.to-register {
  cursor: pointer;
}

.to-register {
  margin-top: 3vh;
  font-size: 1.6vh;
  text-decoration: underline;
  opacity: 0.5;
}

.login-Btn:hover {
  background-color: #ddd9f0;
}

.to-register:hover {
  opacity: 1;
}

::placeholder {
  opacity: 0.4;
}

.login-msg {
  color: white;
  font-size: 2vh;
}